<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CFR Scraper</title>
  <link rel="icon" href="/assets/images/kallisti-circle.png" type="image/png">
  <link rel="stylesheet" href="/assets/css/reset.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/modal.css">
  <link rel="stylesheet" href="/assets/css/media.css">
</head>

<body>

  <!-- MODAL -->
  <div id="my-modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-close">&times;</span>
        <h3 id="modal-title"></h3>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <h3 id="modal-endnote"></h3>
      </div>
    </div>
  </div>

  <div id="loading-modal" class="loading-modal">
    <!-- Modal content -->
    <div class="loading-modal-content">
      <div class="loading-modal-body">
      </div>
    </div>
  </div>

  <div class="header">
    <header>
      <h1><a href="https://www.cfr.org" target="_blank">Council on Foreign Relations</a></h1>      
      <h2><a href="https://www.cfr.org/in-the-news" target="_blank">In the News</a></h2>
      {{#if saved}}
      <h6 class="saved-h6">Your Saved Articles.</h6>
      {{else}}
      <h6>"Media appearances, published opinions, and academic articles by CFR fellows and experts."</h6>
      {{/if}}
    </header>
  </div>

  <div class="main-content">
    <div class="nav-div">
      <a href="/" class="nav-btn">Home</a>
      <a href="/saved" class="nav-btn">Saved Articles</a>
        {{#unless saved}}
        <button class="nav-btn" id="scrape-btn">Scrape</button>
        {{/unless}}
    </div>

    <ul class="article-ul">

      {{{body}}}

    </ul>
  </div>

  <div class="footer">
    <footer>
      <p>
        &#9400;Copyright 2018 Keith Allmon
      </p>
    </footer>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="/assets/js/scraper.js"></script>
</body>

</html>