<header>
  <h1>Onion Peeler</h1>
  <p>All the news that's fit to peel.</p>

  <div class="nav-btns">
    <button class="nav-btn" id="home-btn">Home</button>
    <button class="nav-btn" id="peel-btn">Peel</button>
  </div>
</header>