<header>
  <h1>Onion Peeler</h1>
  <p>Your Saved Articles</p>

  <div class="nav-div">
    <a href="/" class="nav-link">Home</a>
    <a href="/saved" class="nav-link">Saved Articles</a>
    <button class="nav-btn" id="peel-btn">Peel</button>
    <button class="nav-btn" id="clear-btn">Clear All</button>
  </div>
</header>