/* Main Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(83, 29, 29, 0.164); /* Black w/ opacity */
}

/* The Close Button */
.modal-close {
  color: #999;
  float: right;
  font-size: 28px;
  font-weight: bold;
  line-height: .7;
}

.modal-close:hover,
.modal-close:focus {
  color: rgb(170, 64, 64);
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header & footer */
.modal-header, .modal-footer {
  padding: 10px 16px;
  color: #e6e6e6;
  background: #222;
  font-weight: bold;
}

.modal-header {
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
}

.modal-footer {
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
  height: 40px;
}

/* Modal Body */
.modal-body {padding: 10px 16px;}

/* Modal Content */
.modal-content {
  color: #111;
  position: relative;
  background-color: #ffffff;
  margin: 200px auto;
  padding: 0;
  border: 2px solid #00d3b0;
  border-radius: 20px;
  max-width: 250px;
  box-shadow: 0 4px 8px 0 #00000033,0 6px 20px 0 #00000030;
  animation-name: fadein;
  animation-duration: 0.5s
}

/* LOADING MODAL STYLING */

.loading-modal-body img {
  width: 50px;
  display: block;
  margin: auto;
}

.loading-modal, .loading-modal-content, .loading-modal-body {
  background: transparent;
  border: none;
}

/* loading Modal (background) */
.loading-modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.829); /* Black w/ opacity */
}

/* Loading Modal Content */
.loading-modal-content {
  position: relative;
  background-color: transparent;
  margin: 250px auto;
  padding: 0;
  border: none;
  max-width: 200px;
  animation-name: fadein;
  animation-duration: 0.5s
}

/* Add Animation */
@keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
}